.menu-card{
    &:hover{
        & > .menu__checked{
            width: 50px;
            & > i{
                transform: rotate(360deg);
            }
        }
        & > .card-text{
            width: calc(100% - 110px);
        }
    }
}

.btn{
    &:hover{
        transform: scale(1.15);
    }
}

@keyframes spiner_rotate {
    to{
        transform: rotate(3turn);
    }
    
}

@keyframes hide_loading {
    to{
        height: 0;
        width: 0;
        opacity: 0;
    }
    
}

@keyframes display_content {
    to{
        overflow: auto;
        height: auto;
        opacity: 1;
    }
}