.menu-card{
    &:hover{
        & > .menu__checked{
            width: 50px;
            & > i{
                transform: rotate(360deg);
            }
        }
        & > .card-text{
            width: calc(100% - 110px);
        }
    }
}
