.hidden{
    height: 0;
    opacity: 0;
    overflow: hidden;
    animation-name: display_content;
    animation-delay: 2000ms;
    animation-fill-mode: forwards;
}

.loading{
    overflow: hidden;
    display: flex;
    width: 100%;
    height: 100vh;
    z-index: 1;
    position: absolute;
    top: 0;
    animation-name: hide_loading;
    animation-delay: 2000ms;
    animation-fill-mode: forwards;
    justify-content: center;
    
    .spiner{
        margin: auto;
        width: 80px;
        height: 80px;
        border-radius: 100%;
        border: 25px solid $location-colour;
        border-top: 25px solid $Tertiary-colour;
        animation-name: spiner_rotate;
        animation-timing-function: linear;
        animation-duration: 2000ms;
    }
}

.nav-location{
    background-color: $location-colour;
    padding: 12px 0;
    p{
        @include text-size();
        font-weight: 400;
        margin: 0;
        @include desk-only{
            font-size: 16px;
        }
        i{
            margin-right: 2%;
        }
    }
}

.nav-descript{
    background-color: $background-colour;
    padding-top: 30px;
    padding-bottom: 45px;
    h1{
        margin: 0 auto 10px auto;
        width: 70%;
        @include text-size(title);
        font-weight: 700;
        @include desk-only{
            font-size: 23px;
        }
    }

    P{
        margin: 0 auto 30px auto;
        width: 80%;
        @include text-size(descript);
        font-weight: 200;
        @include desk-only{
            font-size: 17px;
        }
    }
}

.art_title{
    margin-bottom: 20px;
    font-weight: 600;
    @include text-size(title);
    @include tab-only{
        width: 90%;
        margin-left: 2%;
    }
    @include desk-only{
        font-size: 25px;
    }
}

.art-work{
    padding: 20px 5% 35px 5%;
    background-color: $text-colour;
    @include tab-only{
        display: flex;
        flex-wrap: wrap;
    }
}

.work-info {
    margin-bottom: 20px;
    @include tab-only{
        width: 30%;
        margin: auto;
    }
    .work-info_nb{
        background-color: $primary-colour;
        color: $text-colour;
        @include ronded($value: map-get($ronded-size, button));
        width: 20px;
        height: 20px;
        float: left;
        margin-top: 19px;
        @include desk-only{
            width: 23px;
            height: 23px;
            margin-top: 20px;
        }
        span{
            display: block;
            @include text-size();
            padding-top: 3px;
            @include desk-only{
                font-size: 16px;
                padding-top: 1px;
            }
        }

    }
    .work-info_text{
        background-color: $background-colour;
        padding: 22px 0;
        margin: 0 auto 0 10px;
        @include ronded();
        @include shadow();
        p{
            margin: 0;
            font-weight: 600;
            @include text-size();
            @include desk-only{
                font-size: 16px;
            }
            i {
                margin-left: 7%;
                margin-right: 7%;
                color: lighten(black, 50%);
                @include text-size(stdIcon);
                @include tab-only{
                    margin-left: 5%;
                    margin-right: 5%;
                }
                @include desk-only{
                    font-size: 15px;
                }
            }
        }
    }
    .work-info_text.work-info_text--third{
        background-color: lighten($primary-colour, 35%);
        i{
            color: $primary-colour;
        }
    }
}

.art-rest{
    background-color: $background-colour;
    padding: 20px 5% 35px 5%;
    display: block;
    @include tab-only{
        display: flex;
        flex-wrap: wrap;
    }
}

a{
    text-decoration: none;
    color: black;
}

.rest-card{
    display: block;
    width: 100%;
    @include ronded();
    @include shadow();
    margin-bottom: 15px;
    background-color: $text-colour;
    height: 198px;
    @include tab-only{
        width: 45%;
        margin: 0 auto 40px auto;
    }
    @include desk-only{
        height: 304px;
    }
    
    img{
        @include ronded($value: map-get($ronded-size, img));
        width: 100%;
        height: 140px;
        object-fit: cover;
        object-position: 50% 63%;
        display: block;
        @include desk-only{
            height: 240px;
        }
    }
    .rest-card__new{
        display: inline;
        position: relative;
        top: -188px;
        right: calc(-100% + 75px);
        margin: 0;
        padding: 6px 10px 6px 10px;
        background-color: $Tertiary-colour;
        height: 12px;
        font-size: 12px;
        color: darken($Tertiary-colour, 40%);
        font-weight: 600;
        @include desk-only{
            top: -283px;
            right: calc(-100% + 80px);
        }
    }
    .card-text{
        display: flex;
        flex-wrap: wrap;
        margin-left: 0;
        margin-right: 0;
        width: 100%;
        height: 58px;
        @include desk-only{
            height: 64px;
        }
        div{
            margin-left: 5%;
            margin-right: auto;
            padding-top: 10px;
            padding-bottom: 10px;
            h3{
                margin-top: 0;
                margin-bottom: 5px;
                @include text-size(stdIcon);
                @include desk-only{
                    font-size: 18px;
                }
            }
            p{
                @include text-size();
                font-weight: 300;
                margin-top: 0;
                margin-bottom: 0;
                @include desk-only{
                    font-size: 16px;
                }
            }
        }
        i{
            margin: 15px 5% auto auto;
        }
    }
}