$background-colour: #F6F6F6;
$location-colour: #EAEAEA;
$primary-colour: #9356DC;
$Secondary-colour: #FF79DA;
$Tertiary-colour: #99E2D0;
$shadow-colour: #E0E0E0;
$text-colour: white;

$ronded-size: (button:25px, info:15px, img:15px 15px 0 0);
$txt-size: (majTitle: 22px, title: 20px, stdIcon: 15px, descript: 14px, stdText: 13px, price: 12px, cardInfo: 11px, footerIcon: 10px);