.footer{
    margin-top: 5px;
    background-color: lighten(black, 22%);
    color: $text-colour;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    @include tab-only{
        position: relative;
        bottom: 100vh;
    }
    h2{
        @include title_font();
        @include desk-only{
            font-size: 18px;
        }
    }
    p{
        margin-top: 0;
        margin-bottom: 5px;
        @include text-size();
        @include desk-only{
            font-size: 16px;
        }
       
        i{
            width: 15px;
            margin-right: 5px;
            @include text-size(footerIcon);
            @include desk-only{
                font-size: 13px;
            }
        }
        a{
            color: $text-colour;
        }
    }
}