header{
    .header_logo{
        height: 24px;
        margin: 15px auto 6px auto;
    }
    div{
        margin: 15px auto 6px auto;
        display: flex;
        .header_logo{
            width: 80%;
            margin: auto 15% auto 0;
        }
        a{
            display: block;
            width: 10%;
            margin: auto 0 auto 5%;
        }
    }
}